<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <style>
        body{text-align: center; height: 97.25vh; background-image:url('../assets/Background.jpg');background-size: cover; background-repeat: no-repeat;}
        h1{color: black; font-weight: bold; font-family: sans-serif; text-align: center;font-size: 5em; text-shadow: white 0 0 20px}
        button{border-radius: 12px; width: 300px; height: 100px; font-family: sans-serif; font-size: larger; background-color: gray}
        .centre{vertical-align: middle; padding: 80px 0}
    </style>
</head>
<body>
<div class = "centre">
    <h1>Welcome to Team-2 Bank</h1>
    <button onclick="window.location.href = 'account';">View Accounts</button>
</div>
</body>
</html>
