<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <style>
        body{text-align: center; height: 97.25vh; background-image:url('../assets/Background.jpg');background-size: cover; background-repeat: no-repeat;}
        h1{color: black; font-weight: bold; font-family: sans-serif; text-align: center;font-size: 5em; text-shadow: white 0 0 20px}
        .jumbo{padding-left: 200px; padding-right:200px; padding-bottom:50px;}
        .logo{height: 60px; width:60px; border-radius: 50%}
        .nav-item{ font-size: 25px; margin-left: 50px;}
        .nav-link {color: white !important;}
        .nav-link:hover {color: orange !important;}
        button{border-radius: 12px; width: 300px; height: 100px; font-family: sans-serif; font-size: larger; background-color: gray}
    </style>
     <link rel = "stylesheet" href = "style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel = "stylesheet" href = "https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="/"> <img class="logo" src="../assets/logo.png"/> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
     <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

      <li class="nav-item ">
        <a class="nav-link" href="account">Accounts </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="transactions"  >Transactions</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">

    </form>
  </div>
</nav>
<br>
<h1 class = "text-centre">WELCOME TO TEAM-2 BANK</h1>
<br>
<div class = "jumbo">
<div class="jumbotron">
  <h2 class="display-4">Our New Accounts</h2>
  <p class="lead">Simple banking with no monthly fee</p>
  <hr class="my-4">
  <p>You can view all the accounts by clicking the button below</p>
  <a class="btn btn-success btn-lg" href = "account" role="button">View Accounts</a>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
